.servLink {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #101010; FONT-FAMILY: verdana; TEXT-DECORATION: none
}
.servLink:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #067bbe; FONT-FAMILY: verdana; TEXT-DECORATION: none
}
.loginFormTxtBox {
	BORDER-RIGHT: #5c80a4 1px solid; BORDER-TOP: #5c80a4 1px solid; FONT-SIZE: 9pt; BORDER-LEFT: #5c80a4 1px solid; COLOR: #124272; BORDER-BOTTOM: #5c80a4 1px solid; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #f8fbfd
}
.Downloadlink {
	FONT-WEIGHT: 700; FONT-SIZE: 8pt; COLOR: #666666; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
.Downloadlink:hover {
	FONT-WEIGHT: 700; FONT-SIZE: 8pt; COLOR: #0072bc; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
.HostPrice {
	FONT-SIZE: 8pt; COLOR: #a6a6a6; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
.HostPrice:hover {
	FONT-SIZE: 8pt; COLOR: #0072bc; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
.footerLinks:link {
	FONT-WEIGHT: bold; FONT-SIZE: 9px; COLOR: #90bdcc; FONT-FAMILY: tahoma; TEXT-DECORATION: none
}
.footerLinks:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 9px; COLOR: #90bdcc; FONT-FAMILY: tahoma; TEXT-DECORATION: none
}
.footerLinks:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 9px; COLOR: #0fad45; FONT-FAMILY: tahoma; TEXT-DECORATION: none
}
.customer_link {
	FONT-SIZE: 8pt; COLOR: #0072bc; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
.customer_link:hover {
	FONT-SIZE: 8pt; COLOR: #ff6622; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
.personnel_email {
	COLOR: #ff9900; TEXT-DECORATION: none
}
.Personnel_email:hover {
	COLOR: #ff9900; TEXT-DECORATION: underline
}
.footerEmail:link {
	FONT-SIZE: 10px; COLOR: #5d9bc6; FONT-FAMILY: tahoma; TEXT-DECORATION: none
}
.footerEmail:visited {
	FONT-SIZE: 10px; COLOR: #5d9bc6; FONT-FAMILY: tahoma; TEXT-DECORATION: none
}
.footerEmail:hover {
	FONT-SIZE: 10px; COLOR: #5d9bc6; FONT-FAMILY: tahoma; TEXT-DECORATION: underline
}
.portfolio_Name {
	FONT-WEIGHT: 700; FONT-SIZE: 8pt; COLOR: #ff7800; FONT-FAMILY: verdana; TEXT-DECORATION: none
}
.login_link {
	FONT-SIZE: 8pt; COLOR: #124272; FONT-FAMILY: tahoma; TEXT-DECORATION: none
}
.login_link:hover {
	FONT-SIZE: 8pt; COLOR: #0072bc; FONT-FAMILY: tahoma; TEXT-DECORATION: none
}
.SiteMap {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #6b6b6b; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
.SiteMap:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #ff6622; FONT-FAMILY: verdana; TEXT-DECORATION: none
}
.left_text {
	FONT-SIZE: 9pt; COLOR: #124272; FONT-FAMILY: tahoma; TEXT-DECORATION: none
}
.Location_link {
	FONT-SIZE: 8pt; COLOR: #c1c1c1; FONT-FAMILY: verdana; TEXT-DECORATION: none
}
.Location_link:hover {
	FONT-SIZE: 8pt; COLOR: #0072bc; FONT-FAMILY: verdana; TEXT-DECORATION: none
}
.upcoming_title {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #759db3; FONT-FAMILY: tahoma; TEXT-DECORATION: none
}
.upcoming_text {
	FONT-SIZE: 8pt; COLOR: #808080; FONT-FAMILY: tahoma; TEXT-DECORATION: none
}
.upcoming_more {
	FONT-SIZE: 8pt; COLOR: #ff6100; FONT-FAMILY: tahoma; TEXT-DECORATION: none
}
.upcoming_more:hover {
	FONT-SIZE: 8pt; COLOR: #ff6100; FONT-FAMILY: tahoma; TEXT-DECORATION: underline
}
.portfolio {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #3b539c; FONT-FAMILY: tahoma; TEXT-DECORATION: none
}
.portfolio_description {
	FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: tahoma; TEXT-DECORATION: none
}
.NumberLink {
	FONT-SIZE: 8pt; COLOR: #898989; FONT-FAMILY: Trebuchet MS; TEXT-DECORATION: none
}
.NumberLink:hover {
	FONT-SIZE: 8pt; COLOR: #0072bc; FONT-FAMILY: Trebuchet MS; TEXT-DECORATION: none
}
.NumberLinkSelected {
	FONT-WEIGHT: 700; FONT-SIZE: 8pt; COLOR: #ff9100; FONT-FAMILY: Trebuchet MS; TEXT-DECORATION: none
}
.NumberDisable {
	FONT-SIZE: 8pt; COLOR: #898989; FONT-FAMILY: Trebuchet MS; TEXT-DECORATION: none
}
.News_Date {
	FONT-WEIGHT: 700; FONT-SIZE: 8pt; COLOR: #999999; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
.News_Title {
	FONT-WEIGHT: 700; FONT-SIZE: 10pt; COLOR: #194c8c; FONT-FAMILY: tahoma; TEXT-DECORATION: none
}
.News_Abstract {
	FONT-SIZE: 9pt; COLOR: #999999; FONT-FAMILY: tahoma; TEXT-DECORATION: none
}
.News_Detail {
	FONT-SIZE: 9pt; COLOR: #666666; FONT-FAMILY: tahoma; TEXT-DECORATION: none
}
.News_Title_List {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #194c8c; FONT-FAMILY: tahoma; TEXT-DECORATION: none
}
.ArticleLink {
	FONT-SIZE: 8pt; COLOR: #808080; FONT-FAMILY: Tahoma; TEXT-DECORATION: none
}
.ArticleLink:hover {
	FONT-SIZE: 8pt; COLOR: #5d9bc6; FONT-FAMILY: Tahoma; TEXT-DECORATION: none
}
.ArticleLink1 {
	FONT-SIZE: 8pt; COLOR: #808080; FONT-FAMILY: Tahoma; TEXT-DECORATION: none
}
.ArticleLink1:hover {
	FONT-SIZE: 8pt; COLOR: #ff6100; FONT-FAMILY: Tahoma; TEXT-DECORATION: none
}
.SearchLink {
	FONT-SIZE: 9pt; COLOR: #0070bc; FONT-FAMILY: Tahoma; TEXT-DECORATION: none
}
.SearchLink:hover {
	FONT-SIZE: 9pt; COLOR: #ff6622; FONT-FAMILY: Tahoma; TEXT-DECORATION: none
}
.SearchLink:visited {
	FONT-SIZE: 9pt; COLOR: #0fad45; FONT-FAMILY: Tahoma; TEXT-DECORATION: none
}
.SearchText {
	FONT-SIZE: 9pt; COLOR: #585858; FONT-FAMILY: Tahoma; TEXT-DECORATION: none
}
BODY {
	SCROLLBAR-FACE-COLOR: #ffffff; SCROLLBAR-HIGHLIGHT-COLOR: #000000; SCROLLBAR-SHADOW-COLOR: #000000; SCROLLBAR-3DLIGHT-COLOR: #ffffff; SCROLLBAR-ARROW-COLOR: #666666; SCROLLBAR-TRACK-COLOR: #ffffff; SCROLLBAR-DARKSHADOW-COLOR: #ffffff; scrollbar-Onclick-color: #ff0000
}
.Error_Link {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #0070bc; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
.Error_Link:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #ff6622; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
.Support_Link {
	COLOR: #0070bc; FONT-FAMILY: Tahoma; TEXT-DECORATION: none
}
.Support_Link:hover {
	COLOR: #ff6622; FONT-FAMILY: Tahoma; TEXT-DECORATION: none
}
.Top_Link {
	COLOR: #0070bc; TEXT-DECORATION: none
}
.Top_Link:hover {
	COLOR: #ff6622; TEXT-DECORATION: none
}
.tools_title {
	FONT-SIZE: 9pt; COLOR: #0054a6; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
.tools_title:hover {
	FONT-SIZE: 9pt; COLOR: #f27f22; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
.profile_Link {
	FONT-SIZE: 10pt; COLOR: #0054a6; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
.Profile_Link:hover {
	FONT-SIZE: 10pt; COLOR: #f27f22; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
.link_contact {
	FONT-SIZE: 10pt; COLOR: #0070bc; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
.link_contact:hover {
	FONT-SIZE: 10pt; COLOR: #0070bc; FONT-FAMILY: Verdana; TEXT-DECORATION: underline
}
.link_contactinfo {
	FONT-SIZE: 10pt; COLOR: #ff9900; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
.link_contactinfo:hover {
	FONT-SIZE: 10pt; COLOR: #ff9900; FONT-FAMILY: Verdana; TEXT-DECORATION: underline
}
.link_contactinfo1 {
	FONT-SIZE: 10pt; COLOR: #0070bc; FONT-FAMILY: Tahoma; TEXT-DECORATION: none
}
.link_contactinfo1:hover {
	FONT-SIZE: 10pt; COLOR: #0070bc; FONT-FAMILY: tahoma; TEXT-DECORATION: underline
}
.SiteSimpleTextProduct {
	FONT-SIZE: 9pt; COLOR: #333333; LINE-HEIGHT: 140%; MARGIN-RIGHT: 5px; FONT-FAMILY: tahoma; TEXT-DECORATION: none
}
.SiteTextTitleProduct {
	FONT-WEIGHT: 700; FONT-SIZE: 10pt; COLOR: #f26522; FONT-FAMILY: tahoma; TEXT-DECORATION: none
}
.SiteTextTitle {
	FONT-WEIGHT: 700; FONT-SIZE: 10pt; COLOR: #3f4b56; FONT-FAMILY: tahoma; TEXT-DECORATION: none
}
.SiteSimpleText {
	FONT-SIZE: 9pt; COLOR: #333333; LINE-HEIGHT: 140%; MARGIN-RIGHT: 5px; FONT-FAMILY: tahoma; TEXT-DECORATION: none
}
.CenterLink {
	FONT-SIZE: 9pt; COLOR: #0072bc; FONT-FAMILY: tahoma; TEXT-DECORATION: none
}
.CenterLink:hover {
	FONT-SIZE: 9pt; COLOR: #ff6622; FONT-FAMILY: tahoma; TEXT-DECORATION: none
}
.CenterLinkOut {
	FONT-SIZE: 9pt; COLOR: #333333; FONT-FAMILY: tahoma; TEXT-DECORATION: none
}
.CenterLinkOut:hover {
	FONT-SIZE: 9pt; COLOR: #000000; FONT-FAMILY: tahoma; TEXT-DECORATION: underline
}
.formField {
	BORDER-RIGHT: #7b7b7b 1px solid; BORDER-TOP: #7b7b7b 1px solid; FONT-SIZE: 8pt; BORDER-LEFT: #7b7b7b 1px solid; COLOR: #666666; BORDER-BOTTOM: #7b7b7b 1px solid; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #f9f9f9
}
